 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>TITLE</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">

 </head>

 <body>
  <h1>Activities</h1>
  <ul>
    {{#activity}}
    <li>{{name}}</li>
    <li>{{description}}</li>
    <li>{{date_created}}</li>
    <li>{{tracked_activity}}</li>
    <li>{{notes}}</li>
    <li>{{tags}}</li>
    <li></li>
    <li></li>


    {{/activity}}
  </ul>

 </body>

 </html>
