<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="PATH">
</head>

<body>
 <h1>Uh-oh! Your username or password was incorrect. Please try again:</h1>
 <form action="/" method="post">
   <label for="username">Username (email)</label>
   <input type=email name="username" />
   <br />
   <br />
   <label for="password">Password</label>
   <input type=password name="password" />
   <br />
   <br />
   <input type="submit" />
 </form>
</body>

</html>
