<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="PATH">
</head>

<body>
 <h1>Yay! You've logged on successfully!</h1>
 <h2>Your username is: {{username}}</h2>
</body>

</html>
